<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <ul class="nav nav-tabs">
    <% if (user) { %>
    <li role="presentation">
      <a href="#public">
        <span class="glyphicon glyphicon-globe"></span>
        &nbsp;
        <span>Public</span>
      </a>
    </li>
    <li role="presentation" class="active">
      <a href="#user">
        <span class="glyphicon glyphicon-user"></span>
        &nbsp;
        <span><%= user.profile.displayName %></span>
      </a>
    </li>
    <% } else { %>
    <li role="presentation" class="active">
      <a href="#public">
        <span class="glyphicon glyphicon-globe"></span>
        &nbsp;
        <span>Public</span>
      </a>
    </li>
    <% } %>
  </ul>

  <% if(!isLoggedIn) { %>
    <div class="login-alert alert alert-warning" role="alert">
      <div style="float:right;">
        <span class="glyphicon glyphicon-user"></span>
        &nbsp;
        <a href="/auth/twitter">
          <span>Sign in with Twitter</span>
        </a>
      </div>
      <span><strong>Warning!</strong> you are not logged in. This is <strong>public</strong>, login for a private list.</span>
    </div>
  <% } else  { %>
      <div class="login-alert alert alert-info" role="alert">
        <div style="float:right;">
          <span class="glyphicon glyphicon-log-out"></span>
          &nbsp;
          <a href="/logout">
            <span>log out</span>
          </a>
        </div>
        <strong>Heads up!</strong> You are logged in to your <strong>private</strong> list.
      </div>
  <% } %> %>

  <app-root></app-root>
</html>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script>